name: Upload jupyter-forward to PyPI

on:
  release:
    types:
      - published
  workflow_dispatch:
jobs:
  test-deploy:
    if: github.repository == 'NCAR/jupyter-forward'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install setuptools setuptools-scm wheel twine check-manifest
      - name: Build tarball and wheels
        run: |
          python setup.py sdist bdist_wheel
          python -m pip wheel . -w dist --no-deps
      - name: Test the artifacts
        run: |
          python -m twine check dist/*

      - name: Publish package to TestPyPI
        uses: pypa/gh-action-pypi-publish@v1.4.2
        with:
          user: __token__
          password: ${{ secrets.TESTPYPI_PASSWORD }}
          repository_url: https://test.pypi.org/legacy/
          verbose: true

  deploy:
    needs: test-deploy
    if: startsWith(github.ref, 'refs/tags')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install setuptools setuptools-scm wheel twine check-manifest
      - name: Build tarball and wheels
        run: |
          python setup.py sdist bdist_wheel
          python -m pip wheel . -w dist --no-deps
      - name: Test the artifacts
        run: |
          python -m twine check dist/*

      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@v1.4.2
        with:
          user: ${{ secrets.PYPI_USERNAME }}
          password: ${{ secrets.PYPI_PASSWORD }}
          skip_existing: true
          verbose: true

      # - name: Publish package
      #   env:
      #     TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
      #     TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      #   run: |
      #     python -m twine upload dist/* --skip-existing
